* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.list {
  list-style: none;
}
.button {
  cursor: pointer;
  --background-button: #2196f3;
}
/* Параметри всіх контейнерів у секціях */
/*  Для всіх секцій використовується один клас .section, 
задані верхні і нижні падінги по 94px, 
що відсувають контент всередину секції. */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* #### Шапка сайту #### */
.header {
  padding: 25px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
/* Оформлення Лого */
/* ################################### */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: auto 0;
  line-height: 1.19; /* множником */
  letter-spacing: 0.03em;
  color: black;
  text-decoration: none;
}
.logo span {
  color: #2196f3;
  font-family: "Raleway";
}
/* ################################### */
.navigation {
  display: flex;
}
.navigation .list-navigation {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: 90px;
}
.header-container .contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header .list-navigation a,
.contacts a {
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  font-weight: 500;
}
.header .contacts a {
  color: inherit;
}
.list-navigation a:hover,
.list-navigation a:focus,
.contacts a:hover,
.contacts a:focus {
  color: #2196f3;
}
/* #################### */
/* стилі шапки контенту */
.top-content {
  width: 100%;
  background-color: #2f303a;
  padding: 200px 0;
}
.top-content .container {
  text-align: center;
}
.top-content .top-content-tittle {
  color: #fff;
  max-width: 695px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
}
.top-content .top-button {
  margin-top: 30px;
  width: 215px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--background-button, red);
  border: none;
  letter-spacing: 0.06em;
  color: #fff;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
/* Стилі особливостей компанії */
.general-info {
  padding: 90px 0;
}
.list-info {
  display: flex;
  gap: 30px;
}
.list-info .info-card {
  /* <li> */
  max-width: 270px;
  flex-basis: calc((100% - 90px) / 4);
  line-height: 1.72;
}
.list-info .list-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
/* Загальні стилі для заголовків секцій */
.steck-company {
  padding-bottom: 90px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
/* Стилі послуг компанії */
.steck-company .steck-list {
  display: flex;
  gap: 30px;
}
.steck-company .steck-list .list-section {
  /* <li> */
  max-width: 370px;
  min-width: 200px;
  flex-basis: calc((100% - 60px) / 3);
}
.steck-company .steck-list .list-section img {
  width: 100%;
}
/* Стилі блоку працівників компанії */
.team-section {
  background: #f5f4fa;
  padding-bottom: 90px;
}
.team-section .team-list {
  display: flex;
  gap: 30px;
}
.team-section .team-list .worker-card {
  /* <li> */
  max-width: 270px;
  min-width: 200px;
  flex-basis: calc((100% - 90px) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 5px 1px grey;
}
.team-section .team-list .worker-card img {
  width: 100%;
}
.worker-info {
  padding: 30px 0;
}
.team-list-header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-list-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ############################# */
/* Контент зі сторінки Портфоліо */
/* ############################# */

/* кнопки зі сторінки портфоліо */
.top-portfolio {
  border-bottom: 1px solid #ececec;
}
.content-portfolio {
  padding-top: 100px;
  padding-bottom: 90px;
}
.filtration-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
.filtration-button .button {
  font-family: inherit;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding: 5px 25px;
}
.filtration-button .button:hover {
  color: #fff;
  background: var(--background-button, red);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* border: 1px solid red; */
}
.content-cards .card {
  /* <li> */
  max-width: 370px;
  flex-basis: calc((100% - 60px) / 3);
  /* border: 1px solid green; */
  border-bottom: 1px solid #f2f2f2;
}
.content-cards .card img {
  width: 100%;
}
.card .content-info {
  padding: 20px 24px;
  /* border: 1px solid goldenrod; */
}
.content-cards .card-header {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.content-cards .card-content {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: inherit;
}
/* 
.content-cards .card { */
/* <li> */
/* max-width: 370px; */
/* min-width: 200px; */
/* flex-basis: calc((100% - 60px) / 3);
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
} */
/* 
.content-cards .card-content {
  margin: 0 25px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
} */

/* ##### Footer ##### */
.main-footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.botom-logo {
  /* строковий елемент відступи тільки вправо, вліво */
  color: #fff;
}
.block-address {
  /* Блоковий елемент відступи вверх, вниз, по дефолту */
  margin-top: 20px;
}
.footer-contacts .address,
.contact {
  line-height: 1.72;
  margin-bottom: 10px;
}
.footer-contacts .contact:nth-child(2) {
  margin-bottom: none;
}
.footer-contacts .address a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer-contacts .contact a {
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
